<!DOCTYPE html>
{% load staticfiles %}
{% static "presentation/images/" as images %}
<html>
  <head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">

    <title>Generic calendar</title>

    <link rel="stylesheet" href="{% static 'tether/dist/css/tether.min.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/all.css' %}" >
    <link rel="stylesheet" href="{% static 'datetimepicker/build/jquery.datetimepicker.min.css' %}" >
    <link rel="stylesheet" href="{% static 'presentation/css/style.css' %}" >
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css">

    <script type="text/javascript" src="{% static 'tether/dist/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'presentation/js/fullcalendar/calendar.js' %}" ></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/lang/fr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css"></script>

    <script>
      $( function() {
       $( ".datetimepicker" ).datetimepicker{
        format:'Y-m-d H:i'
       });
      } );
    </script>
  </head>
  <body>
    <div class="container">
      <div >
	<form action="/local/presentation/event_add" method="post">
	  {% csrf_token %}
	  {{ form }}
	  <input type="submit" value="Nouvel événement" />
	</form>
      </div>
      <div id="calendar">
	<div id="fullcalmodal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">X</span>
		</button>
		<div style="float:middle" class="modal-title">
                  <span id="event_title" style="position:absolute; margin-left:5%">
                  </span>
                  <img id="project_logo" style="float:left; max-width:100%; height:auto;" width="128" height="128">
		</div>
              </div>
              <div class="modal-body">
		<p id="event_description"></p>

		<span class="identity_sub_title">Organisé par :</span>
		<span class="identity_paragraph" id="project_name"></span><br>

		<span class="identity_sub_title">Contact :</span>
		<span class="identity_paragraph" id="contact_name"></span><br>

		<span class="identity_sub_title">Email :</span>
		<span class="identity_paragraph" id="contact_email"></span><br>

		<span class="identity_sub_title">Téléphone :</span>
		<span class="identity_paragraph" id="contact_phone"></span><br>

		<!--<p id="event_place"></p>-->
		<!--<p id="inscription"></p>-->
		<!--<p id="event_details_link"></p>-->
		<span class="identity_sub_title">Site Internet :</span>
		<a class="identity_paragraph" id="project_site" target="_blank"></a><br>

		<!--<a id="link" href="link"></a>-->
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
	</div>	
      </div>
    </div>
  </body>
</html>
