<!DOCTYPE html>
{% load staticfiles %}
{% static "presentation/images/" as images %}
<html>
    <head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">

    <title>Generic calendar</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'presentation/css/style.css' %}" >
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.css">

    <script src="{% static 'presentation/js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'presentation/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/lang/fr.js"></script>

   <script type="text/javascript">$(document).ready(function()
        {
            $('#calendar').fullCalendar(
            {
                //Event's info - JSON
                events:"events/",

                //Calendar Config
                firstDay:1, //start with Monday
                lang:"fr",  //French
                header:{
                            left:   'title',
                            center: '',
                            right:  'today prev,next', //prev and next arrows position in header
                        },
                height:"auto", //show all weeks with no scrollbar
                fixedWeekCount:false, //adjust number of weeks 4, 5 or 6 automatically
                theme:false,   //can be overwridden with JQuery themes to change bottons format

                //Calendar Function
                 eventClick:function(event, jsEvent, view)
                 {
                    //Title
                    document.getElementById('event_title').innerHTML = event.title;
                    document.getElementById('project_logo').src = event.project_logo;
                    document.getElementById('project_logo').innerHTML = event.title;
                    //Description & details
                    $('#event_description').html(event.description);
                    $('#project_name').html(event.project_name);
                    //$('#event_place').html(event.place);
                    $('#contact_name').html(event.contact_name);
                    $('#contact_phone').html(event.contact_phone);
                    $('#contact_email').html(event.contact_email);
                    //$('#inscription').html(event.inscription);
                    document.getElementById('project_site').href = event.project_site;

                    $('#project_site').html(event.project_site);
                    $('#fullcalmodal').modal();

                    // debug info :
//                    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
//                    alert('View: ' + view.name);
                    // change the border color just for fun
//                    $(this).css('border-color', 'red');
                 }
            })
        })
    </script>
</head>
<body>
                <div id="calendar">
                    <div id="fullcalmodal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                   <p style="float:middle" class="modal-title">
                                        <span id="event_title" style="position:absolute; margin-left:5%">
                                        </span>
                                        <img id="project_logo" style="float:left; max-width:100%; height:auto;" width="128" height="128">
                                    </p>
                                </div>
                                <div class="modal-body">
                                    <p id="event_description"></p>

                                    <span class="identity_sub_title">Organisé par :</span>
                                    <span class="identity_paragraph" id="project_name"></span><br>

                                    <span class="identity_sub_title">Contact :</span>
                                    <span class="identity_paragraph" id="contact_name"></span><br>

                                    <span class="identity_sub_title">Email :</span>
                                    <span class="identity_paragraph" id="contact_email"></span><br>

                                    <span class="identity_sub_title">Téléphone :</span>
                                    <span class="identity_paragraph" id="contact_phone"></span><br>

                                    <!--<p id="event_place"></p>-->
                                    <!--<p id="inscription"></p>-->
                                    <!--<p id="event_details_link"></p>-->
                                    <span class="identity_sub_title">Site Internet :</span>
                                    <a class="identity_paragraph" id="project_site" target="_blank"></a><br>

                                    <!--<a id="link" href="link"></a>-->
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>
