{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'presentation/css/map.css' %}"/>

</head>

<body>
  <div id="mapid"></div>
  <!-- The script below must be included after the declaration of the map container -->
  <script src="{% static 'presentation/js/map.js' %}"></script>

  <div id="lesglaneurs" class="leaflet-container leaflet-control-layers leaflet-control-layers-expanded">

    <div>Association</div>
    <div>
      <select type="text" id="association">
        {% for association in associations  %}
        <option value="association{{ association }}">{{ association }}</option>
        {% endfor %}
      </select>
    </div>

    <div>Département</div>
    <div>
      <select type="text" id="department">
        {% for department in departments  %}
        <option value="department{{ department }}">{{ department }}</option>
        {% endfor %}
      </select>
    </div>

    <div>Mois</div>
    <div>
      <select type="text" id="month">
        {% for month in months  %}
        <option value="month{{ month }}">{{ month }}</option>
        {% endfor %}
      </select>
    </div>

  </div>

</body>

</html>
