{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'presentation/css/map.css' %}"/>

</head>

<body>
  <div id="mapid"></div>

  <div id="lesglaneurs" class="leaflet-container leaflet-control-layers leaflet-control-layers-expanded">

    <div>Jardins</div>
    <div>
      <select type="text" id="gardens">
        {% for garden in gardens  %}
        <option value="{{ garden }}">{{ garden }}</option>
        {% endfor %}
      </select>
    </div>

    <div>Propriétaires</div>
    <div>
      <select type="text" id="owners">
        {% for person in persons  %}
        <option value="{{ person }}">{{ person }}</option>
        {% endfor %}
      </select>
    </div>

  </div>

  <!-- The script below must be included after the declaration of the map
  container and of the controls-->
  <script src="{% static 'presentation/js/map_gardens.js' %}"></script>

</body>

</html>
