<!DOCTYPE html>
{% load staticfiles %}
{% static "presentation/images/" as images %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fiche projet {{ project.name }}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'presentation/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" rel="stylesheet"></script></head>
<!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,100'>-->

<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-3, identity" style="display:block;">
            <h1 class="identity_title">{{ project.name|upper }}</h1>
            <img src="{{ images }}{{ project.name }}/owner.png" style="display:block; width:60%; margin:auto;">
            <div class="row">
                <div class="col-md-6">
                    <p class="image_title" style="text-align:center;">Présent</p>
                    <img src="{{ images }}{{ project.name }}/where_today.png"  style="display:inline;">
                </div>
                <div class="col-md-6">
                    <p class="image_title" style="text-align:center;">Futur</p>
                    <img src="{{ images }}{{ project.name }}/where_futur.png"  style="display:inline;">
                </div>
            </div>
            <!--<div>{% for (key, value) in identity_items.all %} {% endfor %}</div>                        -->
            <div>

            {% for key, value in identity_items.items %}
                <p class="identity_sub_title">{{ key }}</p>
                <p class="identity_paragraph">{{ value }}</p>
            {% endfor %}

            <!--<img src="{% static 'presentation/images/rebelle_identite_1.jpg' %}">-->
            </div>
        </div>
        <div class="col-md-9, size_sheet" style="position: relative;">
            <img src="{{ images }}{{ project.name }}/project_structure.jpg"
                 class="size_sheet"
                 style="z-index:-1">

            {% for s in project.story_set.all %}
            <img src="{% static 'presentation/images/question.png' %}"
                 class="question"
                 style="left: {{ s.coordinate_x }}%; top: {{ s.coordinate_y }}%;"
                 data-toggle="modal" data-target="#{{s.id}}">

            <div class="modal fade" id="{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Besoin</h4>
                        </div>
                        <div class="modal-body">
                            {{s.content}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>