<!DOCTYPE html>
{% load staticfiles %}
{% static "presentation/images/" as images %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <title>Fiche projet {{ project.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'presentation/css/style.css' %}" >
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.css">
    <script src="{% static 'presentation/js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/lang/fr.js"></script>

   <script type="text/javascript">$(document).ready(function()
        {
            $('#calendar').fullCalendar(
            {
                //Events data
                events:
                [
                    {% for event_glan in events_glan %}
                    {
                        title:'{{event_glan.name}}',
                        textColor:'white',
                        color:'purple',
                        start:'{{event_glan.start_date|date:"Y-m-d"}}',
                        end:'{{event_glan.end_date|date:"Y-m-d"}}',
                        description:"Coucou"
                        +" &amp;chario"
                        },
                    {%endfor%}
                    {start:'1990-01-01'}
                ],
                //Calendar Config
                firstDay:1, //start with Monday
                lang:"fr",  //French
                header:{
                            left:   'title',
                            center: '',
                            right:  'prev,next', //prev and next arrows position in header
                        },
                height:"auto", //show all weeks with no scrollbar
                fixedWeekCount:false, //adjust number of weeks 4, 5 or 6 automatically
                theme:false,   //can be overwridden with JQuery themes to change bottons format
                //Calendar Function
                 eventClick:function(event, jsEvent, view)
                 {
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#fullcalmodal').modal();
                 }
            })
        })
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 identity" style="display:block;">
            <h1 class="identity_title">{{ project.name|upper }}</h1>
            <img class="img-responsive" src="{{ project.logo.url }}" style="display:block; width:60%; margin:auto;">
            <div class="row">
                <div class="col-md-6">
                    <p class="image_title" style="text-align:center;">Présent</p>
                    <img class="img-responsive" src="{{ project.location_today.url }}" style="display:inline;">
                </div>
                <div class="col-md-6">
                    <p class="image_title" style="text-align:center;">Futur</p>
                    <img class="img-responsive" src="{{ project.location_target.url }}" style="display:inline;">
                </div>
            </div>
            <div>
                {% for key, value in identity_items.items %}
                <p class="identity_sub_title">{{ key }}</p>
                <p class="identity_paragraph">{{ value }}</p>
                {% endfor %}
                <p class="identity_sub_title">Site Internet</p>
                <p class="identity_paragraph">
                    <a href="{{ project.web_site }}">{{ project.web_site }}</a></p>

                <p class="identity_sub_title">Email</p>
                <p class="identity_paragraph">
                    <a href="mailto:{{ project.web_site }}">
                    {{ project.email }}</a></p>

                <p class="identity_sub_title">Calendrier des événements</p>

                {% if events_glan|length != 0 %}

                    <div id="calendar">
                        <div id="fullcalmodal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p id="modalTitle" class="modal-title">
                                        </p>
                                    </div>
                                    <div id="modalBody" class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9 col-lg-9 img-responsive" style="position: relative;">
            <img src="{{ project.project_structure.url }}"
                 class="img-responsive"
                 style="z-index:-1">

            {% for s in project.story_set.all %}
            <div class="question" style="left: {{ s.coordinate_x }}%; top: {{ s.coordinate_y }}%;">
                <a href="#"
                   data-toggle="tooltip"
                   data-trigger="hover"
                   data-placement='auto'
                   title="{{ s.content }}">
                    <img src="{% static 'presentation/images/question.png' %}"
                         class="question img-responsive"/>
                </a>
            </div>
            {% endfor %}
            <!--<script>-->
            <!--$(document).ready(function(){-->
            <!--$('[data-toggle="tooltip"]').tooltip();-->
            <!--});-->
            <!--</script>-->
            <script>
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover();
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>