<!DOCTYPE html>

{% load staticfiles %}
{% static "presentation/images/" as images %}
<html>
    <head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <!-- General CSS & JS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'presentation/css/style.css' %}" >
    <script type="text/javascript" src="{% static 'presentation/js/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'presentation/js/bootstrap.min.js' %}"></script>
</head>

<body>
  <div class="container">
    <!-- Header-->
    <div class="row">
      <div class="col-md-3 logo">
        <img src="{% static 'presentation/images/logo.jpg' %}" class="img-responsive" alt="Logo">
      </div>
    </div>

    <!-- Body-->
    <div class="row">
      <!-- Contacts -->
      <div class="col-md-3" >
	<div class="embed-responsive" style="padding-bottom:150%">
	  <iframe class="embed-responsive-item" src="{% static '../local/presentation/contacts'' %}"></iframe>
	</div>

	<div >
          <button type="button" class="btn btn-default" data-dismiss="modal">Envoyer un email</button>
	</div>	
      </div>
      
      
      <!-- Map -->
      <div class="col-md-6">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Rechercher Espèce</button> -->
	
	<div class="embed-responsive" style="padding-bottom:75%">
	  <iframe class="embed-responsive-item" src="{% static '../local/presentation/map/plants' %}"></iframe>
	</div>
      </div>

      <!-- Events -->
      <div class="col-md-3" >
	<button type="button" class="btn btn-default" data-dismiss="modal">Rechercher événement</button>

	<div class="embed-responsive" style="padding-bottom:150%">
	  <iframe class="embed-responsive-item" src="{% static '../local/presentation/calendar' %}"></iframe>
	</div>
      </div>

    </div>

  </div>

</body>
</html>
