
/*Debug*/
/*
* {
	border: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*/

/*when use the point classname .row ?*/

body{
    font-family: "Helvetica Neue";
}

.container-fluid {
  justify-content: space-between ;
}
.row {
	vertical-align: middle;
}

.text-red {
    color: #B62025;
}

.contact-end {
  align-self: flex-end;
}

.scaling {
    width: 50%;
    margin: auto;
/*    align: center;
    align-items: center;*/
}