

body{
    font-family: 'Homenaje', 'Squada One', cursive;
    height: 100%;
}

.container-fluid {
  justify-content: space-between ;
  position: relative;
}

.scaling {
    width: 50%;
    margin: auto;
}

.text-red {
    color: #B62025;
    font-weight: bold;
}

#carte_france {
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    z-index: -1;
}

#contact {
  align-self: flex-end;
  padding-left: 5%;
  padding-top: 5%
}

