<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les Glaneurs - Les associations locales organisent
            des événements de cueillette chez les particuliers
            et de glanage chez les producteurs</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta name="description"
          content=  "Les glaneurs aident les associations locales à organiser
                    des événements de cueillette chez les particuliers
                    et de glanage chez les producteurs" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css" />
</head>
<body >
<div class="container-fluid" style="padding-top:15px; text-align:center">
    <div class="row">
        <div class="col-md-8" >
            <div class="scaling" >
                <img alt="Les Glaneurs"
                    src="{% static 'images/logo_v1.png' %}">
            </div>
            <div class="scaling text-red" style="padding-top:15px">
                Une initiative pour répandre les cueillettes dans les vergers et
                les jardins des particuliers avec l'aide des associations locales
            </div>
            <div class="scaling" style="padding-top:30px">
                <div>
                    <iframe
                            name="Video des Glaneurs à Saint Pierre d'Aurillac"
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/edLEyRqIgu0"
                            allowfullscreen
                            style="min-height: 250px">
                    </iframe>
                </div>
                <div style="padding-top: 30px">
                    <a href="https://www.facebook.com/lesglaneursstpierredaurillac"
                       target="_blank">
                        <img alt="Les cueilletttes des Glaneurs de St Pierre d'Aurillac sur Facebook"
                             src="{% static 'images/facebook_St_Pierre_v1.png' %}">
                    </a>
                </div>

                <div style="padding-top:15px">
                    <a href="quiz_typeform"
                       target="_blank">
                        <img alt="recensement des lieux de glanage sur St Pierre d'Aurillac"
                             src="{% static 'images/questionnaire_v1.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="contact" >
                <a href="mailto:contact@lesglaneurs.com?subject=contact%20web">
                    <img alt="contact des glaneurs"
                         src="{% static 'images/contact_peer.png' %}">
                </a>
                <a href="mailto:contact@lesglaneurs.com?subject=contact%20web"
                   class="text-red"
                   style="font-size: 120%">
                   contact@lesglaneurs.com
                </a>
            </div>
            <div id="carte_france">
                <img alt="Carte de France - St Pierre d'Aurillac"
                     src="{% static 'images/map_fr_st_pierre_v1.jpg' %}">
            </div>
        </div>
    </div>
</div>

</body>
</html>
